@tailwind base;
@tailwind components;
<<<<<<< HEAD
@tailwind utilities;

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }
=======
@tailwind utilities;
>>>>>>> 252e979150bfb9acec20fd48628aed21fd0e3e29
